<ul class="nav justify-content-center" style="padding-top: 10px; padding-bottom: 10px; vertical-align: center; background-color: black;">
    <li class="nav-item">
        <a class="nav-link active" style="color: white;" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" style="color: white;" href="/about">About the museum</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" style="color: white;" href="/exhibitions">Exhibitions</a>
    </li>
    <% if (sessionusr === 0) { %>
    <li class="nav-item">
        <a class="nav-link" style="color: white;" href="/login">Sign in</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" style="color: white;" href="/signup">Sign up</a>
    </li>
    <% } %>

    <% if (sessionusr !== 0) { %>
        <li class="nav-item">
            <a class="nav-link" style="color: white; font-weight: bold; text-transform: uppercase;" href="/users/<%- sessionusr.userId -%>"><%- sessionusr.name -%></a>
        </li>
        <li class="nav-item">
            <form action="/logout" method="POST">
                <button type="submit" class="btn btn-dark btn-block" style="background-color: grey;">Log out</button>
            </form>
        </li>
    <% } %>
</ul>