<!DOCTYPE html>
<html>

	<%- include('./partials/head.ejs') -%>
<!--<style>.hero {-->
<!--        background-color: #000000;-->
<!--        background-image: url('/img/2339344.jpg');-->
<!--        background-position: center;-->
<!--        background-size: cover;-->
<!--        color: #ffffff;-->
<!--        text-align: center;-->
<!--        padding: 250px;-->
<!--    }</style>-->
<body>

	<%- include('./partials/nav.ejs') -%>

<div>
    <img src="/img/2339344.jpg" height="100%" width="100%"/>
</div>

	<%- include('./partials/footer.ejs') -%>

</body>
</html>
