<!DOCTYPE html>
<html>

	<%- include('./partials/head.ejs') -%>

<body>

	<%- include('./partials/nav.ejs') -%>

<div>
    <img src="/img/2339344.jpg" height="100%" width="100%"/>
</div>

	<%- include('./partials/footer.ejs') -%>

</body>
</html>
